@model List<MyAcademyCarBook.EntityLayer.Concrete.Car>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    var i = 0;
}

<h1>Araba Listesi</h1>


<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Model</th>
        <th>Kategori</th>
        <th>Marka</th>
        <th>Vites Türü</th>
        <th>Yıl</th>
        <th>Araba Durumu</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
        <th>Sitede Gör</th>

    </tr>
    
    @foreach (var item in Model)
    {
        i++;

        <tr>

            <td>@i</td>
            <td>@item.Model</td>
            <td>@item.Category.CategoryName</td>
            <td>@item.Brand.BrandName</td>
            <td>@item.GearType</td>
            <td>@item.Year</td>
            <td>@item.CarStatus.CarStatusName</td>
            <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="#" class="btn btn-outline-warning">Guncelle</a></td>
            <td><a href="/Car/CarDetail/@item.CarID" class="btn btn-outline-dark">Detaylar</a>
            <td>
            <td><a href="/Car/CarDetail/@item.CarID" class="btn btn-outline-primary">Sitede Gör</a></td>

        </tr>


    }

</table>

<a href="/car/createCar/" class="btn btn-outline-primary">Yeni Araç Girişi</a>